html,
body {
  font-size: 62.5%;
  font-size: 10px;
}
body {
  background-color: #e1e1e1;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* 公用类 */
.clr:after {
  content: '';
  display: block;
  clear: both;
}